@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import "../node_modules/bootstrap/scss/functions";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto Slab;
}

header {
    background-color: #131718;
    text-align: center;
    padding: 25px 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover {
    background-color: #5c68d8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #fdfdfd;
    display: inline-block;
}

nav ul li a {
color: #fdfdfd;
display: inline-block;
padding: 10px;
text-decoration: none;
margin: 0 30px;
}

.header-img {
    background-image: url(./images/background.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-img2 {
    background-image: url(/images/background2.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-img p {
font-size: 15px;
text-shadow: #38404b;
}

.header-img h1 {
    font-size: 30px;
    padding: 20px 0;
    text-shadow: #38404b;
}

#inputs {
    color: rgb(231, 231, 231);
    display: grid;
}

#section-img {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: inherit;
    margin: auto;
    background-color: #131718;
    padding: 20px;
}

.item-img {
    width: 300px;
    height: 200px;
}

.div-img {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    margin: 1%;
}

.div-img:hover {
    filter: grayscale(60%);
}

#prefooter{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: inherit;
    margin: auto;
    background: linear-gradient(to bottom, #131718, #38404b);
    padding: 2%;
}

article{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: inherit;
    margin: auto;
    padding: 20px;
}

.div-img2 {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
    margin: 1%;
}

#player {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
}
#player iframe{
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
}
.index-form {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    color: #fdfdfd;
}

#gps {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
}

footer{
    background-color: #38404b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: inline-block;
}

footer ul li {
    color: #fdfdfd;
    display: inline-block;
}

footer ul li a {
    color: #fdfdfd;
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    }

#footer ul li a:hover {
    background-color: #5c68d8;
}